#footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    font-size: 20px;
    // height: 25%;
    text-align: center;
    margin-top: 5rem;
}