<div>
    <h3>Hi dear <%=comment.user.name%>
    </h3>

    <p>I am delighted to say that your comment id is <%=comment._id%> and your email is <%=comment.user.email%>
                <small>
                    Your comment
                    <b>
                        <%=comment.content%>
                    </b>
                    is published.
                </small>
    </p>

</div>