<link rel="stylesheet" href="/css/footer.css">
<footer id="footer">
    <h1>Social Media </h1>
    <p>
        &#169; 2022-2023
    </p>
    <p>This is social media flateform where you can post and comment</p>

</footer>